body{
margin: 0;
padding: 30px;
background: lightgoldenrodyellow;
font-family: Arial, Helvetica, sans-serif;
}
h2{
text-align: center;
margin-bottom: 30px;
}

/* grid system*/
.portfolio-grid{
display: grid;
grid-template-columns: repeat (3, 1fr); /* 3 columns on large screen*/
gap: 20px;
max-width: 1200px;
margin: auto;
}

/* card style*/
.card{
background: #fff;
padding: 15px;
border-radius: 10px;
box-shadow: 0 4px 8px;
transition: 0,3s;
}
.card:hover{
transform: translateY(-5px);
}
.card img{
width: 100%;
height: 180px;
object-fit: cover;
border-radius: 8px;
}

.card h3{
margin: 12px 0 8px;
}

.card p{
margin: 0;
color: #555;
font-size: 14px;
}

/* responsiveness*/
@media (max-width:900px){
.portfolio-grid{
grid-template-columns: repeat(2,1fr);
}
}
